<h2>List of ratings</h2>

<%= render "ratings/list" %>

<!--
<% if session[:last_rating].nil? %>
	<p>you have no ratings given</p>
<% else %>
	<p>previous rating: <%= session[:last_rating] %></p>
<% end %>
-->

<%= link_to 'New Rating', new_rating_path %>
